@font-face {
    font-family: 'jaro';
    src: url('/static/game/fonts/Jaro/jaro.ttf') format('truetype');
}

@font-face {
    font-family: 'teko';
    src: url('/static/game/fonts/Teko/teko.ttf') format('truetype');
}

@font-face {
    font-family: 'poetsen';
    src: url('/static/game/fonts/Poetsen/poetsen.ttf') format('truetype');
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e9df1a;
    display: inline-block;
    margin: 0 5px;
    animation: loader-animation 1.5s infinite;
}

@keyframes loader-animation {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    75% {
        transform: translateY(-10px);
    }
}

.loader:nth-child(2) {
    animation-delay: 0.5s;
}

.loader:nth-child(3) {
    animation-delay: 1s;
}

body {
    font-family: 'poetsen', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #017299;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

input,
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logout-button {
    font-family: 'poetsen', sans-serif;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 16px 8px 16px;
    cursor: pointer;
    text-decoration: none;
}

.header-actions {
    display: flex;
    gap: 10px;
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.stat-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.stat-box h3 {
    font-size: 30px;
}

.stat-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.table_dispay {
    width: 100%;
    border-collapse: collapse;
}

.table_dispay th,
.table_dispay td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.table_dispay th {
    background-color: #017299;
    color: #fff;
}

.table_dispay tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination-button {
    background-color: #017299;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

#paginationButtons {
    text-align: right;
}

.pagination-button:hover {
    background-color: #7b7b7b;
}

.navbar {
    background-color: #017299;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: font-size 0.2s;
}

.navbar a:hover {
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.text-muted th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.text-muted th {
    background-color: #017299;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.blur-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
}

.form-layout {
    font-size: 18px;
    padding: 10px 10px;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    background-color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.nav-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    margin-right: 20px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}


label {
    display: block;
    margin-bottom: 5px;
    width: 5%;
}

input[type="text"],
input[type="number"],
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.form-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    text-decoration: none;

}

.form-btn:hover,
.action-btn:hover {
    background-color: #0056b3;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 500px;
}

.form-group label {
    flex: 1;
}

.form-group input {
    flex: 3;
    margin-left: 10px;
}

.form-group select {
    flex: 3;
    margin-left: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
}

.form-container {
    width: 45%;
}

.action-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 13px;
    cursor: pointer;
    text-decoration: none;
}


.lightpick {
    position: absolute;
    z-index: 99999;
    padding: 4px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: system-ui, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.125em;
}

.lightpick--inlined {
    position: relative;
    display: inline-block;
}

.lightpick,
.lightpick *,
.lightpick::after,
.lightpick::before {
    box-sizing: border-box;
}

.lightpick.is-hidden {
    display: none;
}

.lightpick__months {
    display: grid;
    background-color: #EEE;
    grid-template-columns: auto;
    grid-gap: 1px;
}

.lightpick--2-columns .lightpick__months {
    grid-template-columns: auto auto;
}

.lightpick--3-columns .lightpick__months {
    grid-template-columns: auto auto auto;
}

.lightpick--4-columns .lightpick__months {
    grid-template-columns: auto auto auto auto;
}

.lightpick--5-columns .lightpick__months {
    grid-template-columns: auto auto auto auto auto;
}

.lightpick__month {
    padding: 4px;
    width: 288px;
    background-color: #FFF;
}

.lightpick__month-title-bar {
    display: flex;
    margin-bottom: 4px;
    justify-content: space-between;
    align-items: center;
}

.lightpick__month-title {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    cursor: default;
    padding: 0 4px;
    border-radius: 4px;
}

.lightpick__month-title>.lightpick__select {
    border: none;
    background-color: transparent;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.lightpick__month-title>.lightpick__select:disabled {
    color: #333;
}

.lightpick__month-title>.lightpick__select-months {
    font-weight: bold;
    font-size: 1em;
    margin-right: .5em;
}

.lightpick__toolbar {
    display: flex;
    text-align: right;
    justify-content: flex-end;
}

.lightpick__previous-action,
.lightpick__next-action,
.lightpick__close-action {
    display: flex;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #DDD;
    justify-content: center;
    align-items: center;
}

.lightpick__previous-action,
.lightpick__next-action {
    font-size: 12px;
}

.lightpick__close-action {
    font-size: 18px;
}

.lightpick__previous-action:active,
.lightpick__next-action:active,
.lightpick__close-action:active {
    color: inherit;
}

.lightpick__days-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.lightpick__day-of-the-week {
    display: flex;
    font-size: 11px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.lightpick__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.lightpick__day {
    display: flex;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.lightpick__day.is-today {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(220, 50, 47, .5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
    background-size: 18.8% auto;
    background-position: center bottom;
    color: #DC322F;
}

.lightpick__day:not(.is-disabled):hover {
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23E0E0E0' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-disabled {
    opacity: 0.38;
    pointer-events: none;
}

.lightpick__day.disabled-tooltip {
    pointer-events: auto;
}

.lightpick__day.is-disabled.is-forward-selected {
    opacity: 1;
}

.lightpick__day.is-disabled.is-forward-selected:not(.is-start-date) {
    background-color: rgba(38, 139, 210, 0.1);
    background-image: none;
}

.lightpick__day.is-previous-month,
.lightpick__day.is-next-month {
    opacity: 0.38;
}

.lightpick__day.lightpick__day.is-in-range:not(.is-disabled) {
    opacity: 1;
}

.lightpick__day.is-in-range {
    border-radius: 0;
    background-color: rgba(38, 139, 210, 0.1);
    background-image: none;
}

.lightpick__day.is-in-range:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(38, 139, 210, 0.5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range.is-flipped {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    background-color: #268BD2;
    background-image: none;
}

.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    background-color: #268BD2;
    background-image: none;
}

.lightpick__day.is-start-date.is-end-date {
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268BD2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-start-date:hover,
.lightpick__day.is-end-date:hover {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268BD2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
    background-size: auto;
    background-position: center;
    color: #FFF;
    font-weight: bold;
}

.lightpick__tooltip {
    position: absolute;
    margin-top: -4px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    font-size: 11px;
    pointer-events: none;
}

.lightpick__tooltip::before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(0, 0, 0, 0.12);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}

.lightpick__tooltip::after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.lightpick__footer {
    display: flex;
    justify-content: space-between;
}

.lightpick__reset-action,
.lightpick__apply-action {
    border-radius: 5px;
    font-size: 12px;
    border: none;
}

.lightpick__reset-action {
    color: #fff;
    background-color: #aeacad;
}

.lightpick__apply-action {
    color: #fff;
    background-color: #2495f3;
}