@font-face {
    font-family: 'jaro';
    src: url('/static/game/fonts/Jaro/jaro.ttf') format('truetype');
    /* You can add additional font formats for cross-browser compatibility */
}
@font-face {
    font-family: 'teko';
    src: url('/static/game/fonts/Teko/teko.ttf') format('truetype');
    /* You can add additional font formats for cross-browser compatibility */
}
@font-face {
    font-family: 'poetsen';
    src: url('/static/game/fonts/Poetsen/poetsen.ttf') format('truetype');
    /* You can add additional font formats for cross-browser compatibility */
}
@font-face {
    font-family: 'pacifico';
    src: url('/static/game/fonts/harlow.ttf') format('truetype');
    /* You can add additional font formats for cross-browser compatibility */
}
.dark-mode{
    background-color: #030303;
}
/* Center the loader horizontally and vertically */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Create the loader dot */
.loader {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e9df1a;
    display: inline-block;
    margin: 0 5px;
    animation: loader-animation 1.5s infinite;
}

/* Animation for the loader */
@keyframes loader-animation {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(-10px);
    }
}

/* Stagger the animation for each dot */
.loader:nth-child(2) {
    animation-delay: 0.5s;
}
.loader:nth-child(3) {
    animation-delay: 1s;
}

.text-gradient, #d, #i{
    -webkit-background-clip: text; /* For WebKit browsers */
    background-clip: text; /* For non-WebKit browsers */
    color: #ffffff;
    font-family: 'pacifico', sans-serif;
    font-size: 50px; /* Hide the original text */
}
#d{
    color: #ff8d50;
}
#i{
    color: #15ff00;
}
.big{
    font-family: 'teko', sans-serif;
    font-size: 60px;
    padding-top: 5px;
    margin: 0;
}
#game-num{
    margin-left: 15px;
    margin-right: 20px;
    color: #ffffff;
}

.header img{
    width: 40px; /* Set the width of the select and images */
    height: 40px; /* Set the height of the select and images */
    margin-left: 10px; /* Add spacing between select and images */
}
.header label,.header input{
    margin-left: 10px;
    margin-right: 10px;
}
.header select{
    width: 70px;
    border: 1px solid #ccc;
    background-color: #ffff;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-family: 'poetsen', sans-serif;
    color: #000000;
}

#menu,#close-side,#light-mood,#full-screen{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#menu:hover,#close-side:hover,#light-mood:hover,#full-screen:hover{
    transform: scale(1.1);
}

.bingo-container{
    margin-left: 1.5%;
    margin-top: 10px;
}
.bingo-stat{
    display: flex;
    align-items: center;
}
.stat-box{
    background-image: linear-gradient(to bottom, #fff521, #9d9302);
    border: 2px solid#FFF521;
    padding: 10px;
    color: #000000;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 20px;
}

.bingo-panel{
    display: grid;
    grid-template-columns: 85% 15%; /* Set the columns to 70% and 30% */
    grid-gap: 10px;
}

.action-panel{
    display: grid;
    grid-template-columns: 65% 35%; /* Set the columns to 70% and 30% */
    grid-gap: 10px;
    margin-top: 20px;
}

.bingo-row{
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
}
.letter{
    background-color: #ffffff;
    border: 16px solid#FFF521;
    text-align: center;
    color: #000000;
    border-radius: 50%;
    font-size: 20px;
    width: 64px;
    height: 64px;
    margin: 0px 20px 0px 4px;
    line-height: 32px; /* Adjusted line-height */
}

.letter[data-letter="B"],.last-called-num-view-all[data-letter="B"]{
    border-color: hsl(259, 100%, 50%);
}

.letter[data-letter="I"],.last-called-num-view-all[data-letter="I"] {
    border-color: #E91E63;
}

.letter[data-letter="N"],.last-called-num-view-all[data-letter="N"]{
    border-color: hsl(237, 100%, 50%);
}

.letter[data-letter="G"],.last-called-num-view-all[data-letter="G"] {
    border-color: #dbcd0a;
}

.letter[data-letter="O"],.last-called-num-view-all[data-letter="O"] {
    border-color: #2fe91e;
}

.number{
    background: linear-gradient(to bottom, #035fff, #006486);
    color: #ebf1f7;
    border-radius: 50%;
    font-size: 25px;
    width: 64px;
    height: 64px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    line-height: 64px; /* Adjusted line-height */
    font-weight: bold;
    margin: 2px 6px;
    opacity: 0.75;
}
@keyframes bounceBall {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotateNumber {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.number:not(.selected) {
    animation: rotateNumber 2s infinite linear;
    /* ... (previous styles) ... */
}

.number.selected {
    animation: bounceBall 0.5s;
    background: #ffc000;
    color: #000000;
    border-color: #ffaf00;
    font-size: 35px;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.number.blink {
    animation: blink-animation 1s infinite, bounce 1s infinite, size-transform 1s infinite;
    background: #fff521;
    color: #000000;
    border-color: #ffaf00;
    opacity: 1;
    font-size: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.blink-result{
    animation: blink-animation 1s infinite, bounce 1s infinite, size-transform 1s infinite;
}

@keyframes blink-animation {
    50% {
        background-color: #ffaf00; /* Change background color for blinking effect */
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes size-transform {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Increase size to 120% */
    }
}

.number.light-up {
    animation: lightUpAnimation 1s;
}

@keyframes lightUpAnimation {
    0%, 100% {
        background-color: #ffffff;
        color: #333333;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    50% {
        background-color: #ffcc00;
        color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }
}
.view-all{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.last-called-numbers{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-called{
    font-size: 50px;
    color: #000000;
    border: 10px solid#ffc839;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ffc839, #e4840c);
    text-align: center;
    margin: 10px 20px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.4) inset;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}
.last-called p{
    margin: 0;
}
#last-letter{
    font-size: 45px;
}

.last-called-num{
    background-image: linear-gradient(to bottom, #fff521, #9d9302);
    border: 1px solid#FFF521;
    padding: 5px;
    color: #000000;
    border-radius: 5px;
    font-size: 17px;
    margin: 0 2px;
}

.last-called-num-view-all{
    border: 10px solid #FFF521;
    padding: 10px;
    color: #000000;
    border-radius: 10px;
    font-size: 23px;
    margin: 5px 10px;
}

.cutm-btn{
    background-image: linear-gradient(to bottom, #fff521, #9d9302);
    border: 2px solid#FFF521;
    padding: 10px;
    color: #000000;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'poetsen', sans-serif;
    cursor: pointer;
}

.cutm-btn-2{
    background-color: transparent;
    color: #ffffff; /* Text color */
    font-size: 20px;
    border:none;
    padding: 5px 5px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'poetsen', sans-serif;
    text-align: center;
}

.actions{
    margin-bottom: 20px;
    display: flex;
}

.form-group{
    display: block;
    margin-right: 20px;
}
.form-group p{
    margin: 7px 0 0 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 170px;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #4A90E2;
    border-radius: 0.5rem;
    height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    /*custom styles*/
    background-color: white;
    height: 1.2rem;
    width: 1rem;
    border-radius: 30%
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #3B7CC8;
    outline: 3px solid #3B7CC8;
    outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    /*custom styles*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

.actions input[type="number"] {
    width: 200px;
    border: 1px solid #ccc;
    background-color: rgba(225, 215, 23,0.5);
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-family: 'poetsen', sans-serif;
    color: #000000;
}

.winner{
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #ffffff;
}
.winner img{
    height: 150px;
}

footer{
    align-items: center;
    color: #ffffff;
}

.blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 999; /* Ensure it's above other content */
  }

  .result {
    font-size: 25px;
    gap: 20px;
    margin: 15% 35%;

    color: #000000;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    
}
.bingo {
  color: green;
}
.no-bingo {
  color: red;
}
.table-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 50px;
    height: 50px;
}

th {
    background-color: #f2f2f2;
}
/* ... Existing styles ... */
.winning-row{
background-color: #53ff35; /* Light green color for winning rows */
}

.miss-winning-row{
    background-color: #d2c813;
}

.remaining-number {
background-color: #FFB6C1; /* Light red color for remaining numbers */
}

.buttons{
padding: 10px 20px;
margin: 0 5px;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
text-decoration: none;
margin-top: 20px;
}

.buttons{
background-color: #007bff;
}

.buttons:hover {
background-color: #0056b3;
}

.inactive {
    pointer-events: none; /* Disables all interactions */
    opacity: 0.5; /* Makes the section semi-transparent */
    cursor: not-allowed; /* Changes cursor to not-allowed symbol */
}

.congrats-banner {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(219, 220, 220,0.9);
    color: #52061f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    z-index: 1001; /* Ensure it is on top of other content */
}

.congrats-text {
    font-size: 24px;
    font-weight: bold;
}

.congrats-clameras,
.congrats-bonnes,
.congrats-winner {
    display: block;
    margin: 10px 0;
    animation: bounce_2 1.5s infinite;
}

.congrats-message {
    display: block;
    margin-top: 20px;
    font-size: 30px;
    animation: pulse 2s infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes bounce_2 {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-20px); }
    60% { transform: translateY(-10px); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000; /* Ensure it is above the blur overlay and banner */
}

.modal-buttons {
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

/* Modal for "View All Called" */
#viewAllCalledModal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal content for "View All Called" */
#viewAllCalledModal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Close button for "View All Called" modal */
#closeViewAllCalled {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeViewAllCalled:hover,
#closeViewAllCalled:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Title for "View All Called" modal */
#viewAllCalledModal h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Container for recently called numbers in "View All Called" modal */
#recentlyCalledNumbers {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    max-height: 400px;
    display: flex;
    flex-direction: row; /* Items should align in a row */
    flex-wrap: wrap;
    overflow-y: auto;
}
#viewAllCalledButton{
    background-color: transparent;
    color: #000; /* Text color */
    font-size: 14px;
    border:none;
    padding: 5px 5px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
