body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.center-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
}

.grid-container {
    display: grid;
    margin-bottom: 15px;
    justify-content: center;
    grid-template-columns: repeat(20, 60px);
    /* Increase the box size */
    gap: 8px;
    /* Increase the gap between boxes */
    align-items: center;
}

.box {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    cursor: pointer;
    width: 60px;
    /* Adjust the width */
    height: 60px;
    /* Adjust the height */
}

.selected {
    background-color: #870e00;
    color: white;
    font-size: 30px;
}

.blured {
    pointer-events: none;
    opacity: 0.7;
}

.color1 {
    background-color: hsl(259, 100%, 50%);
}

.color5 {
    background-color: #E91E63;
}

.color3 {
    background-color: hsl(237, 100%, 50%);
}

.color2 {
    background-color: #2fe91e;
}

.color4 {
    background-color: #dbcd0a;
}

#butns {
    display: flex;
    justify-content: space-between;
}

#butns button {
    width: 49%;
    margin-top: 10px;
    padding: 10px;
    background-color: #870e00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#start-button {
    width: 100%;
    padding: 10px;
    background-color: #870e00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.2s;
}

#start-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    width: 100%;
    padding: 12px;
    /* Adjust the padding */
    margin-top: 10px;
}

/* ... Your existing styles ... */

.top-bar {
    display: flex;
    justify-content: center;
}

.input-section {
    display: flex;
    justify-content: center;
}

.input-group {
    display: block;
    font-size: 18px;
    margin: 10px 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

.input-group select {
    flex: 1;
    margin: 0 5px;
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.input-group select:hover {
    border-color: #0066cc;
}

.input-group select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.input-group input[type="number"] {
    margin: 0 5px;
    width: 150px;
}

.custom-select {
    position: relative;
    width: 100px;
}

.select-box {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
}

.option {
    padding: 10px;
    cursor: pointer;
}

.option.selected {
    background-color: #870e00;
    color: white;
    font-size: 16px;
}

.option:hover {
    background-color: #ddd;
}

/* Show the options container when the select box is clicked */
.custom-select.open .options-container {
    display: block;
}

.inactive {
    pointer-events: none;
    /* Disables all interactions */
    opacity: 0.5;
    /* Makes the section semi-transparent */
    cursor: not-allowed;
    /* Changes cursor to not-allowed symbol */
}

.not_select {
    pointer-events: none;
    /* Disables all interactions */
    cursor: not-allowed;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #4caf50;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    accent-color: #870e00;
    margin-top: 10px;
}

/* Style the checkmark */

/* styles.css */
#pay {
    display: none;
    /* Initially hidden */
}

#pay .cashier-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pay .cashier-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

#pay .cashier-box h3,
#pay .cashier-box p {
    margin: 5px 5px;
}

#num {
    position: fixed;
    top: 99%;
    left: 99%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

nav {
    position: fixed;
    /* Fixes the navbar at the top */
    top: 0;
    /* Aligns it to the top of the page */
    left: 0;
    /* Aligns it to the left of the page */
    width: 100%;
    /* Makes the navbar span the full width of the viewport */
    background-color: #ffffff;
    /* Dark background color for the navbar */
    color: #000000;
    /* White text color */
    display: flex;
    /* Use flexbox to align items */
    justify-content: space-between;
    /* Space out items */
    align-items: center;
    /* Vertically center items */
    padding: 10px 20px;
    /* Add some padding for spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* Shadow effect */
    z-index: 1000;
    /* Ensure the navbar is above other content */
}

.name {
    font-size: 25px;
    margin-left: 10px;
}

.green {
    color: #2fe91e;
}

.yellow {
    color: #dbcd0a;
}

.red {
    color: #870e00;
}